/* =========================== */
/* Global Styles - globals.css */
/* =========================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #cbd5e1;
  --primary: #00b0cf;
  --secondary: #ececec;
  --background-2: #5554dc;
  --background-3: #3232d0;

  --text-dark: #171717;
  --text-light: #f5f5f5;

  --warning: #ffb400;
  --error: #ff4d4f;
  --success: #28c76f;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Badge */
.glowing-warning {
  background-color: var(--warning);
  color: var(--text-dark);
  font-weight: 600;
  animation: glow-warning 1.5s infinite alternate;
  padding: 0.5rem 1rem;
}

.glowing-error {
  background-color: var(--error);
  color: var(--text-dark);
  font-weight: 600;
  animation: glow-error 1.5s infinite alternate;
  padding: 0.5rem 1rem;
}

.glowing-success {
  background-color: var(--success);
  color: var(--text-dark);
  font-weight: 600;
  animation: glow-success 1.5s infinite alternate;
  padding: 0.5rem 1rem;
}

/* Animations */
@keyframes pulse {

  0%,
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes glow-warning {
  0% {
    box-shadow: 0 0 5px var(--warning), 0 0 10px var(--warning), 0 0 20px var(--warning);
  }

  50% {
    box-shadow: 0 0 15px var(--warning), 0 0 30px var(--warning), 0 0 45px var(--warning);
  }

  100% {
    box-shadow: 0 0 5px var(--warning), 0 0 10px var(--warning), 0 0 20px var(--warning);
  }
}

@keyframes glow-error {
  0% {
    box-shadow: 0 0 5px var(--error), 0 0 10px var(--error), 0 0 20px var(--error);
  }

  50% {
    box-shadow: 0 0 15px var(--error), 0 0 30px var(--error), 0 0 45px var(--error);
  }

  100% {
    box-shadow: 0 0 5px var(--error), 0 0 10px var(--error), 0 0 20px var(--error);
  }
}

@keyframes glow-success {
  0% {
    box-shadow: 0 0 5px var(--success), 0 0 10px var(--success), 0 0 20px var(--success);
  }

  50% {
    box-shadow: 0 0 15px var(--success), 0 0 30px var(--success), 0 0 45px var(--success);
  }

  100% {
    box-shadow: 0 0 5px var(--success), 0 0 10px var(--success), 0 0 20px var(--success);
  }
}